{
  "presets": [
    "react-native-stage-0"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-function-bind",
    "transform-decorators-legacy",
    "inline-import-graphql-ast",

    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
