{
  "presets": [
    "react-native-stage-0"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-function-bind",
    "transform-decorators-legacy",
    "import-graphql",

    ["module-resolver", {
      "alias": {
        "application": "./src/application",
        "components": "./src/components",
        "graph": "./src/graph",
        "screens": "./src/screens",
        "storybook": "./src/storybook",
        "theme": "./src/theme",
        "utils": "./src/utils"
      },
      "extensions": [
        ".ios.js",
        ".android.js",
        ".js",
        ".json"
      ]
    }]
  ]
}
